<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Translator</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container">
            <header>
                <navbar></navbar>
                <section>
                    <div class="alert alert-success" role="alert">
                        Слово добавлено в словарь!
                        <button type="button" class="close" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </section>
            </header>
            <%= yield %>
        </div>
    </body>
</html>
